@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

:root {
    --laranja: #e67e34;
    --branco: #fff;
    --cinza: #aaa;
    --cinza-claro: #eee;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

a {
    cursor: pointer;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: var(--laranja);
}

.active {
    color: var(--laranja);
    font-weight: bold;
    cursor: pointer;
}



.cabecalho {
    background-color: transparent;
    padding: 0px 60px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho span {
    font-weight: bold;
    padding: 20px 10px;
    color: var(--branco);
    align-self: flex-start;
    text-transform: uppercase;
    background-color: var(--laranja);
}

.cabecalho nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.cabecalho nav ul li {
    font-size: 12px;
    margin-left: 100px;
    text-transform: uppercase;
}

.cabecalho nav ul li:nth-child(2) {
    margin-left: 25px;
}



.principal {
    display: flex;
    justify-content: space-between;

    overflow-y: auto;
    height: calc(100vh - 80px);
    padding: 120px 20px 20px;
    background-color: transparent;
}

.lateral {
    padding-right: 60px;
}

.lateral-opcoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    padding: 10px;
    font-size: 16px;
    list-style: none;
    margin-bottom: 100px;
}

.lateral-opcoes li a {
    color: var(--cinza);
}

.lateral-opcoes li a:hover {
    color: var(--laranja);
}

.lateral-midias {
    display: flex;
    list-style: none;
}

.lateral-opcoes li,
.lateral-midias li {
    margin: 10px;
}



.conteudo {
    width: 100%;
    padding: 40px 60px 10px 100px;

    display: flex;
    justify-content: space-between;
}

.anterior {
    padding-left: 10px;
}

.anterior > h1 {
    letter-spacing: 5px;
    padding-bottom: 5px;
    color: var(--laranja);
}

.proximo {
    width: 125px;
    display: flex;
    flex-direction: column;
}

.proximo > button {
    width: 100%;
    color: var(--branco);
    transition: all 0.3s;
    background-color: var(--laranja);
}

.proximo > button:hover {
    opacity: 0.9;
}

.tamanho {
    display: flex;
    margin-bottom: 10px;
}

.tamanho > div {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 10px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid var(--cinza);
}

.tamanho > div:nth-child(2), .tamanho > div:hover{
    border-color: var(--laranja);
}

.quantidade {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: var(--cinza-claro);
}

.quantidade > input {
    width: 50px;
    border: none;
    font-weight: bold;
    text-align: center;
    background-color: var(--cinza-claro);
}

.quantidade > button {
    font-weight: bold;
}



#anterior, 
#proximo {
    width: 80px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    position: relative;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#proximo {
    margin-bottom: 10px;
    align-self: flex-end;
}

#anterior {
    margin-left: -20px;
    margin-top: 10px;
}


#anterior::before,
#proximo::before {
    content: '';
    position: absolute;
    z-index: -1000;
    width: 60px;
    height: 40px;
    opacity: 0.6;
    margin-left: 10px;
    background-color: var(--cinza);
}

.setas {
    font-size: 15px;
    font-weight: 100;
}

@media (max-width: 768px) {
    .cabecalho {
        flex-direction: row;
        padding: 0px 10px;
        height: 80px;
    }

    .cabecalho > span {
        padding: 10px 5px;
    }

    .cabecalho nav, .cabecalho nav ul {
        width: 100%;
        justify-content: space-around;
    }

    .cabecalho nav ul li {
        margin-left: 0px !important;
    }

    .principal {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px;
    }

    .lateral {
        flex-direction: row;
        padding: 10px;
    }
    
    .lateral-opcoes {
        margin-bottom: 0px;
        padding: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .lateral-midias {
        justify-content: center;
    }

    .conteudo {
        padding: 50px 10px 10px;
        align-items: center;
        flex-direction: column;
    }

    .anterior {
        align-self: flex-start;
        padding-left: 20px;
    }

    .proximo {
        align-self: flex-end;
    }

}